In [1]:
import pandas as pd

In [2]:
#Path to CSV files
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv" 

#Read data into pandas and store into DataFrames
school_data = pd.read_csv(school_data_load)
student_data = pd.read_csv(student_data_load)

In [3]:
#District Summary

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Calculate the total number of schools
school_count = len(school_data_complete["school_name"].unique())
school_count

# Calculate the total number of students
student_count = len(school_data_complete["student_name"])
student_count

# Calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

# Calculate the average math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

# Calculate the average reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

# Locate students with a passing math score (70 or greater)
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]


# Count of students passing math
students_passing_math_count = students_passing_math["math_score"].count()
students_passing_math_count


# Calculate the percentage of students with a passing math score (70 or greater)
percentage_students_passing_math = students_passing_math_count/student_count
percentage_students_passing_math

# Locate students with a passing math score (70 or greater)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]

# Count of students passing reading
students_passing_reading_count = students_passing_reading["reading_score"].count()
students_passing_reading_count

# Calculate the percentage of students with a passing math score (70 or greater)
percentage_students_passing_reading = students_passing_reading_count/student_count
percentage_students_passing_reading

# Calculate the percentage of students who passed math and reading (% Overall Passing)

Overall_passing_percentage = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['student_name'].count()/student_count
Overall_passing_percentage


# Create a dataframe to hold the above results

district_summary = pd.DataFrame({
    
"Total Schools": [school_count],
"Total Students": [student_count],
"Total Budget": [total_budget],
"Average Math Score": [average_math_score],
"Average Reading Score": [average_reading_score],
"% Passing Math":[percentage_students_passing_math],
"% Passing Reading": [percentage_students_passing_reading],
"% Overall Passing": [Overall_passing_percentage]
    
})
district_summary

# format cells

district_summary.style.format({
    
    "Total Students": "{:,}",
    "Total Budget": "${:,.2f}",
    "Average Math Score": "{:.1f}",
    "Average Reading Score": "{:.1f}", 
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "% Overall Passing": "{:.1%}"
})

In [15]:
#School Summary

# Group by school
group_of_schools = school_data_complete.set_index('school_name').groupby(['school_name']) 
group_of_schools.count()

# School types
school_types = school_data.set_index('school_name')['type']

# Total students by school
stu_per_school = group_of_schools['Student ID'].count()

# Total School Budget
school_budget = school_data.set_index('school_name')['budget']

# Per Student Budget
stu_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

# Average Math and Reading Scores
avg_math = group_of_schools['math_score'].mean()
avg_read = group_of_schools['reading_score'].mean()

# Calculate math and reading passing scores
pass_math_score = student_data[student_data['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_school
pass_read_score = student_data[student_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_school
pass_read_score

# Overall Passing 
overall_passing = student_data[(student_data['reading_score'] >= 70) & (student_data['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_per_school 

# Create a dataframe to hold the above results

school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": stu_per_school,
    "Total School Budget": school_budget,
    "Per Student Budget": stu_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": pass_math_score,
    "% Passing Reading": pass_read_score,
    "% Overall Passing": overall_passing,
})
school_summary

# format cells
school_summary.style.format({
    "Total Students": "{:,}", 
    "Total School Budget": "${:,.2f}", 
    "Per Student Budget": "${:.0f}",
    'Average Math Score': "{:.1f}", 
    'Average Reading Score': "{:.1f}", 
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "% Overall Passing": "{:.1%}"
})

In [16]:
# Sort and display the top five performing schools by % overall passing
top_five = school_summary.sort_values("% Overall Passing", ascending = False)
top_five.head().style.format({
    "Total Students": "{:,}",
    "Total School Budget": "${:,.2f}", 
    "Per Student Budget": "${:.0f}", 
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "% Overall Passing": "{:.1%}"
})

In [17]:
# Sort and display the five worst-performing schools by % overall passing.
bottom_five = top_five.tail()
bottom_five = bottom_five.sort_values("% Overall Passing")
bottom_five.style.format({
    "Total Students": "{:,}",
    "Total School Budget": "${:,.2f}", 
    "Per Student Budget": "${:.0f}", 
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "% Overall Passing": "{:.1%}"
})

In [7]:
# Create a table that lists the average Math Score for students of each grade level for each school
math_score_nineth = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
math_score_tenth = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
math_score_eleventh = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
math_score_twelfth = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

# Create a dataframe to hold the above results
math_scores = pd.DataFrame({
        "9th": math_score_nineth,
        "10th": math_score_tenth,
        "11th": math_score_eleventh,
        "12th": math_score_twelfth
})
math_scores = math_scores[['9th', '10th', '11th', '12th']]
math_scores.index.name = "School"

# format cells
math_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

In [8]:
# Create a table that lists the average Reading Score for students of each grade level for each school
reading_score_nineth = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
reading_score_tenth = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
reading_score_eleventh = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
reading_score_twelfth = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

# Create a dataframe to hold the above results
reading_scores = pd.DataFrame({
        "9th": reading_score_nineth,
        "10th": reading_score_tenth,
        "11th": reading_score_eleventh,
        "12th": reading_score_twelfth
})
reading_scores = reading_scores[['9th', '10th', '11th', '12th']]
reading_scores.index.name = "School"

# format cells
reading_scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

In [9]:
# Create a table that breaks down school performances based on average school Spending

# Spending bins
bins = [0, 585.9, 629.9, 645.9, 999]
group_name = ['< $585', "$585 - 629", "$630 - 644", " $645 - 675"]
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_name)

# Group by spending
by_spending = school_data_complete.groupby('spending_bins')

# Calculations
avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/by_spending['Student ID'].count()

# Create a dataframe to hold the above results           
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "% Overall Passing": overall
            
})
        

scores_by_spend.index.name = "Per Student Budget"
scores_by_spend = scores_by_spend.reindex(group_name)

# format cells
scores_by_spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing': '{:.1%}'})

In [10]:
# Create a table that breaks down school scores by school size

bins = [0, 999, 2999, 99999999999]
group_name = ["Small (<1000)", "Medium (1000-2000)" , "Large (2000-5000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_name)

# Group by spending
by_size = school_data_complete.groupby('size_bins')

# Calculations 
avg_math = by_size['math_score'].mean()
avg_read = by_size['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/by_size['Student ID'].count()

            
# Create a dataframe to hold the above results           
scores_by_size = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "% Overall Passing": overall
            
})

scores_by_size.index.name = "Total Students"
scores_by_size = scores_by_size.reindex(group_name)

# format cells
scores_by_size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              '% Overall Passing ': '{:.1%}'})

In [11]:
# Create a table that breaks down school scores by school type

by_type = school_data_complete.groupby("type")

# Calculations 
avg_math = by_type['math_score'].mean()
avg_read = by_type['reading_score'].mean()
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/by_type['Student ID'].count()
overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/by_type['Student ID'].count()

# Create a dataframe to hold the above results          
scores_by_type = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall})


scores_by_type.index.name = "Type of School"


# format cells
scores_by_type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [12]:
#PyCity Schools Analysis

#Trend #1 Overall, all schools performed better in reading regardless of size and funding.  

#Trend #2 Charter schools out performed District schools,  with the top five performing schools having an overall passing percentage of 90% and above.  In comparison, the District  had the worst performing schools with an overall passing percentage of 53%.  

#Trend #3 The smaller schools, which were all Charter schools, performed better at math with an  average math score of 83% .  The larger District schools had an average math score of 77%.