In [1]:
import pandas as pd

In [2]:
#Path to CSV files
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv" 

#Read data into pandas and store into DataFrames
school_data = pd.read_csv(school_data_load)
student_data = pd.read_csv(student_data_load)

In [3]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [4]:
# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [5]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
# Calculate the total number of schools
school_count = len(school_data_complete["school_name"].unique())
school_count

15

In [7]:
# Calculate the total number of students
student_count = len(school_data_complete["student_name"])
student_count

39170

In [8]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
total_budget

24649428

In [9]:
# Calculate the average math score
average_math_score = school_data_complete['math_score'].mean()
average_math_score

78.98537145774827

In [10]:
#Calculate the average reading score
average_reading_score = school_data_complete['reading_score'].mean()
average_reading_score

81.87784018381414

In [11]:
# Locate students with a passing math score (70 or greater)
students_passing_math = school_data_complete.loc[school_data_complete["math_score"] >= 70]

In [12]:
# Count of students passing math
students_passing_math_count = students_passing_math["math_score"].count()
students_passing_math_count

29370

In [13]:
# Calculate the percentage of students with a passing math score (70 or greater)
percentage_students_passing_math = students_passing_math_count/student_count
percentage_students_passing_math

0.749808526933878

In [14]:
# Locate students with a passing math score (70 or greater)
students_passing_reading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]

In [15]:
# Count of students passing reading
students_passing_reading_count = students_passing_reading["reading_score"].count()
students_passing_reading_count

33610

In [16]:
# Calculate the percentage of students with a passing math score (70 or greater)
percentage_students_passing_reading = students_passing_reading_count/student_count
percentage_students_passing_reading

0.8580546336482001

In [17]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)

Overall_passing_percentage = student_data[(student_data['math_score'] >= 70) & (student_data['reading_score'] >= 70)]['student_name'].count()/student_count
Overall_passing_percentage

0.6517232575950983

In [18]:
#Create a dataframe to hold the above results

district_summary = pd.DataFrame({
    
"Total Schools": [school_count],
"Total Students": [student_count],
"Total Budget": [total_budget],
"Average Math Score": [average_math_score],
"Average Reading Score": [average_reading_score],
"% Passing Math":[percentage_students_passing_math],
"% Passing Reading": [percentage_students_passing_reading],
"% Overall Passing": [Overall_passing_percentage]
    
})
district_summary
#format cells

district_summary.style.format({
    
    "Total Budget": "${:,.2f}",
    "Average Math Score": "{:.1f}",
    "Average Reading Score": "{:.1f}", 
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "% Overall Passing": "{:.1%}"
})

In [19]:
#group by school
group_of_schools = school_data_complete.set_index('school_name').groupby(['school_name']) 
group_of_schools.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [20]:
#create array of unique school names
unique_school_names = school_data['school_name'].unique()
unique_school_names

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [21]:
#school types

school_types = school_data.set_index('school_name')['type']
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [22]:
# total students by school
stu_per_school = group_of_schools['Student ID'].count()
stu_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [23]:
#Total School Budget
school_budget = school_data.set_index('school_name')['budget']
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [24]:
#Per Student Budget
stu_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']
stu_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [25]:
#Average Math and Reading Scores

avg_math = group_of_schools['math_score'].mean()
avg_read = group_of_schools['reading_score'].mean()

avg_math
avg_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [26]:
pass_math_score = student_data[student_data['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_school
pass_read_score = student_data[student_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_school
pass_read_score

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: Student ID, dtype: float64

In [28]:
# Overall Passing 

overall_passing = student_data[(student_data['reading_score'] >= 70) & (student_data['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_per_school 
overall_passing

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
Name: Student ID, dtype: float64

In [33]:
school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": stu_per_school,
    "Total School Budget": school_budget,
    "Per Student Budget": stu_budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": pass_math_score,
    "% Passing Reading": pass_read_score,
    "% Overall Passing": overall_passing,
})
school_summary

#format cells
school_summary.style.format({
    "Total Students": "{:,}", 
    "Total School Budget": "${:,}", 
    "Per Student Budget": "${:.0f}",
    'Average Math Score': "{:.1f}", 
    'Average Reading Score': "{:.1f}", 
    "% Passing Math": "{:.1%}", 
    "% Passing Reading": "{:.1%}", 
    "Overall Passing Rate": "{:.1%}"
})